<%- include("header"); -%>
<h2>About Us</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi iure dolor consequuntur adipisci mollitia, ad consectetur cum quos nam, facilis neque sequi, commodi tenetur! Maxime nobis ipsum, at laborum doloribus saepe asperiores dolor veniam laboriosam, itaque ab alias, placeat fugiat quos dignissimos reiciendis voluptas earum quisquam vel voluptates accusantium omnis. Tenetur, nemo dolor ut magnam ab, minima error aliquam impedit, rerum eum obcaecati? Ratione nihil, voluptate ullam optio sint ab soluta voluptates amet sapiente molestiae iusto animi nisi voluptatem? Temporibus optio assumenda minus commodi neque eveniet, tenetur libero vitae natus soluta magni iste veniam aperiam facilis enim accusantium id eligendi!</p>

<%- include('footer'); -%>